# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ^coverage-reports/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
  - id: check-builtin-literals
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.15.1
  hooks:
    - id: ruff-check
      args: [--fix, --extend-select, "I,UP"]
    - id: ruff-format
- repo: https://github.com/hadialqattan/pycln
  rev: v2.6.0
  hooks:
  - id: pycln
    args: [--config=pycln.toml]
# - repo: https://github.com/jazzband/pip-tools
#   rev: 6.2.0
#   hooks:
#     - id: pip-compile
- repo: local
  hooks:
  - id: generate-doc-index
    name: Regenerate doc/use_cases/index-fragment.org
    entry: bash doc/use_cases/generate-index.sh
    language: system
    files: ^doc/use_cases/.*\.org$
    pass_filenames: false
- repo: https://github.com/compilerla/conventional-pre-commit
  rev: v4.3.0
  hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []
