---
---

@import "{{ site.theme }}";

.language-plaintext>.highlight>.highlight {
    color: lawngreen;
}

.language-plaintext>.highlight::before {
    content: "Result:";
}

.language-plaintext>.highlight {
    background: #333333;
}
